<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.4.0/socket.io.js"></script>

    <title>All Entries</title>
</head>

<body>

    <div>
        <button onclick="signOut()">로그아웃</button>
    </div>
    <div>
        <a href="/login">로그인 하기</a>
    </div>
    <div>
        전체 포스트 조회 페이지
    </div>
    <div>
        <div>게시글 작성</div>
        <div>제목: <input type=text id="title"></div>
        <div>내용: <textarea id="content"></textarea></div>
        <div><button onclick="submitPost()">작성 완료</button></div>
    </div>

    <div>
        전체 포스트
    </div>

    <div>
        <table id="displayPosts">
            <tr>
                <th>제목</th>
                <th>작성자</th>
                <th>최종 수정 시간</th>
            </tr>
        </table>
    </div>

</body>

<script>
    function signOut() {
        localStorage.clear();
        window.location.href = '/login';
    }

    function submitPost() {
        let title = $('#title').val();
        let content = $('#content').val();

        $.ajax({
            type: 'POST',
            url: '/api/post',
            headers: {
                authorization: `Bearer ${localStorage.getItem('token')}`,
            },
            data: {
                title: title,
                content: content,
            },
            success: function (response) {
                console.log('post api successful');
            }
        })
    }

    function displayPost() {
        $.ajax({
            type: 'GET',
            url: '/api/post',
            data: {},
            success: function (response) {
                console.log('get api successful');
                for (i = 0; i < response['allPosts'].length; i++) {
                    let userId = response['allPosts'][i]['userId'];
                    let nickname = response['nicknames'][userId - 1]['nickname'];
                    let title = response['allPosts'][i]['title'];
                    let content = response['allPosts'][i]['content'];
                    let updatedAt = response['allPosts'][i]['updatedAt'];
                    let postId = response['allPosts'][i]['id'];
                    let template = `<tr>
                                        <td>${title}</td>
                                        <td>${nickname}</td>
                                        <td>${updatedAt}</td>
                                        <td><button onclick="location.href='/entry?postId=${postId}'">글 보기</button></td>
                                    </tr>`;

                    $('#displayPosts').append(template);
                }
            }
        })
    };
    displayPost();
</script>

</html>