<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.4.0/socket.io.js"></script>

    <title>Document</title>

    <script>
        function getSelf(callback) {
            $.ajax({
                type: 'GET',
                url: '/api/users/me',
                headers: {
                    authorization: `Bearer ${localStorage.getItem('token')}`,
                },
                success: function (response) {
                    callback(response.user);
                },
                error: function (xhr, status, error) {
                    if (status === 401) {
                        alert('로그인이 필요합니다.');
                    } else {
                        localStorage.clear();
                        alert('알 수 없는 문제가 발생했습니다. 관리자에게 문의하세요.');
                    }
                    window.location.href = '/login';
                },
            });
        }

        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const postId = urlParams.get("postId");

        function displayPost() {
            $.ajax({
                type: 'GET',
                url: `/api/post/${postId}`,
                data: {},
                success: function (response) {
                    console.log('get api successful');

                    let userId = response['post']['userId'];
                    let nickname = response['nicknames'][userId - 1]['nickname'];
                    let title = response['post']['title'];
                    let content = response['post']['content'];
                    let updatedAt = response['post']['updatedAt'];


                    $('#nickname').append('작성자: ', nickname);
                    $('#title').append('제목: ', title);
                    $('#updatedAt').append('수정 날짜: ', updatedAt);
                    $('#content').append('내용: ', content);
                }
            })
        };
        displayPost();

        function writeComment() {
            let comment = $('#comment').val();
            $.ajax({
                type: 'POST',
                headers: {
                    authorization: `Bearer ${localStorage.getItem('token')}`,
                },
                url: `/api/comment`,
                data: {
                    comment: comment,
                    postId: postId,
                },
                success: function (response) {
                    console.log('write comment successful');
                }
            })
        }
        function getComments() {
            $.ajax({
                type: 'GET',
                url: `/api/comment/${postId}`,
                data: {},
                success: function (response) {
                    for (i = 0; i < response['commentList'].length; i++) {
                        let commentId = response['commentList'][i]['commentId'];
                        let userId = response['commentList'][i]['userId'];
                        let comment = response['commentList'][i]['comment'];
                        let template = `<div ><div id='commentId${i}'>${commentId}</div><div id='userId${i}'>${userId}</div><div id='comment${i}'>${comment}</div><button id='button${i}' onclick="newComment(${i})">댓글 수정</button>
                                        <button onclick="deleteComment(${i})">댓글 삭제</button></div>`;
                        $('#comments').append(template);
                    }

                    console.log('getting comments successful');
                }
            })
        }
        getComments();

        function newComment(i) {
            let beforeEdit = $(`#comment${i}`).text();
            console.log(beforeEdit);
            $(`#button${i}`).remove();  //remove 수정 button
            let template = `<textarea id='afterEdit${i}'>${beforeEdit}</textarea><button onclick='editComment(${i})'>수정완료</button>`;
            $(`#comment${i}`).append(template);
        }

        function editComment(i) {
            let afterEdit = $(`#afterEdit${i}`).val(); 
            let commentId = $(`#commentId${i}`).text();
            let userId = $(`#userId${i}`).text();

                $.ajax({
                    type: 'POST',
                    headers: {
                        authorization: `Bearer ${localStorage.getItem('token')}`,
                    },
                    url: `/api/editComment`,
                    data: {
                        comment: afterEdit,
                        postId: postId,
                        commentId: commentId,
                        userId: userId,
                    },
                    success: function (response) {
                        console.log('EDIT comment successful');
                    }
                })
        }

        function deleteComment() {
            let comment = $('#comment').val();
            $.ajax({
                type: 'DELETE',
                headers: {
                    authorization: `Bearer ${localStorage.getItem('token')}`,
                },
                url: `/api/comment`,
                data: {
                    comment: comment,
                    postId: postId,
                },
                success: function (response) {
                    console.log('write comment successful');
                }
            })
        }
        function signOut() {
            localStorage.clear();
            window.location.href = '/login';
        }
    </script>
</head>

<body>
    <div>
        특정 글 조회 페이지
    </div>
    <div>
        <button onclick="signOut()">로그아웃</button>
    </div>
    <div>

        <div id='title'></div>
        <div id='nickname'></div>
        <div id='updatedAt'></div>
        <div id='content'></div>
    </div>

    <div id="writeComments">
        댓글 작성 <textarea id="comment"></textarea>
    </div>
    <div>
        <button onclick="writeComment()">작성 완료</button>
    </div>


    <div>댓글 목록</div>
    <div id="comments">

    </div>
</body>

</html>