<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.4.0/socket.io.js"></script>

    <title>회원가입</title>

    <script src="/api.js"></script>
    <script>
        function register() {
            let nickname = $('#nickname').val();
            let password = $('#pw').val();
            let confirmPw = $('#confirmPw').val();

            $.ajax({
                type: "POST",
                url: `/api/register`,
                data: {
                    nickname: nickname,
                    password: password,
                    confirmPw: confirmPw,
                },
                success: function (response) {
                    console.log("POST API successful");
                    window.location.href = '/login';
                },
                error: function (error) {
                    window.alert(error.responseJSON.errorMessage);
                }
            })
        };
        function noLogin() {
            window.location.href = '/allEntries';
        }
    </script>
</head>

<body>

    <h1>
        회원가입을 하쇼~
    </h1>

    <div>
        <button onclick="noLogin()">로그인 없이 글 보기</button>
    </div>
    <div>
        <div>
            닉네임: <input id="nickname" type="text">
        </div>

        <div>
            비밀번호: <input id="pw" type="password">
        </div>
        <div>
            비밀번호 확인: <input id="confirmPw" type="password">
        </div>

        <div>
            <button onclick="register()">회원가입</button>
        </div>
    </div>
    <div>
        이미 계정이 있다면? <a href="/login">로그인 하기</a>
    </div>
</body>

</html>